@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Message</h2>
<hr />
<div>
    <h3>Avaliação de Conhecimento – Programador C#</h3>
    <h4>Enunciado do teste:</h4>
    <div>Criar um cadastro de pessoas que irá rodar em clientes de SC e do PR.</div>
    <div>A UF do cliente, onde o sistema estará rodando, deve ser definida numa configuração.</div>
    <h4>O cadastro deverá conter os seguintes campos:</h4>
    <ul>
        <li>Nome</li>
        <li>CPF</li>
        <li>Data/hora de cadastro</li>
        <li>Data de nascimento</li>
        <li>Telefones. O número de telefones é variável.</li>
    </ul>
    <h4>Regras:</h4>
    <ul>
        <li>Caso o cliente seja de SC, também é necessário cadastrar o RG.</li>
        <li>Caso seja do PR, não deixar cadastrar uma pessoa com menos de 18 anos.</li>
    </ul>
    <div>Criar também um relatório de clientes cadastrados (pode apenas ser gerado em tela), com filtros por nome, data de cadastro e data de nascimento.</div>
    <div>Questões tecnológicas/frameworks, ficam a sua escolha (sugerimos você utilizar o que mais conhece).</div>
</div>
